@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using IsteerPortal.Permissions
@using IsteerPortal.Web.Pages.CustomerAddress
@using IsteerPortal.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using IsteerPortal.Localization
@inject IHtmlLocalizer<IsteerPortalResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["CustomerAddress"].Value;
    PageLayout.Content.MenuItemName = IsteerPortalMenus.CustomerAddress;
}

@section scripts
{
    <abp-script src="/Pages/CustomerAddress/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(IsteerPortalPermissions.CustomerAddress.Create))
    {
        <abp-button id="NewCustomerAddresButton" text="@L["NewCustomerAddres"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="Address1Filter" label="@L["Address1"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="Address2Filter" label="@L["Address2"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ZIPCODEFilter" label="@L["ZIPCODE"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="CustomerIdFilter" label="@L["Customer"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="CustomerAddressTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Address1"]</th>
					<th>@L["Address2"]</th>
					<th>@L["ZIPCODE"]</th>
					<th>@L["Customer"]</th>
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>